.caster-parent {
    min-height: 90vh;
    padding: 0;
    margin: 0;
}
.rode{
    margin-left: -1px;
}

img.position-absolute {
    object-fit: cover;
}
.middle a{
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.content-overlay {
    top: 48%;
    right: 0%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.wireless-parent {
    min-height: 90vh;
    padding: 0;
    margin: 0;
}

img.position-absolute {
    object-fit: cover;
}

.wireless-parent .content-overlay {
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

@media (max-width: 992px) {
    .content-overlay {
        position: static;
        transform: none;
        text-align: center;
    }
    /* .btn{
       width:40% !important
    } */
    .footer-links .btn{
        width:0% !important   
    }
}

.second-h1 {
    font-size: 2.5rem; /* Adjust size as needed */
    font-weight: bold;
    color: #333; /* Text color */
}

.microphone,
.interfaces,
.software-module,
.accessories {
    background-size: cover;
    background-position: center;
    min-height: 45vh;
    margin-bottom: 5%;
}

.microphone {
    background-image: url("https://edge.rode.com/images%2Fpage%2F1%2Fmodules%2F5357%2Fmicrophones-module-1200x300-rgb.png");
}

.interfaces {
    background-image: url("https://rode.com/assets/images%2Fpage%2F1%2Fmodules%2F5359%2Finterfaces-module-2022-1200x300-rgb.jpg");
}

.software-module {
    background-image: url("https://edge.rode.com/images%2Fpage%2F1%2Fmodules%2F5361%2Fsoftware-module-2021-1200x300-rgb.png");
}

.accessories {
    background-image: url("https://edge.rode.com/images%2Fpage%2F1%2Fmodules%2F5370%2Faccessories-module-2021-1200x300-rgb.png");
}

.microphone img,
.interfaces img,
.software-module img,
.accessories img {
    max-width: 100%;
    height: auto;
}
  
a{
    text-decoration: none;
    color: black;
}
.caster{
    background-image: url("https://edge.rode.com/images/page/1/modules/10296/rode-white-range-family-banner-6-products-14967x5457-rgb-1920x700-8c89d38%20(2).jpg");
    min-height: 90vh;
    background-size: cover;
}
.wireless{
    background-image: url("./image/wireless.png");
    min-height: 90vh;
    background-size: cover;
    background-color: none;
}
.mike{
    background-image: url("./image/mike.jpg");
    min-height: 90vh;
    background-size: cover; 
}
.wirelesspro2{
    background-image: url("./image/wireless-pro2.jpg");
    min-height: 90vh;
    background-size: cover; 
}
.black{
    background-image: url("./image/black.jpg");
    min-height: 90vh;
    background-size: cover; 
    background-color: none;
}
.phoneCage{
    background-image: url("./image/Phone-Cage.jpg");
    min-height: 90vh;
    background-size: cover; 
    background-color: none; 
}
.mic{
    background-image: url("./image/NT1.jpg");
    min-height: 90vh;
    background-size: cover; 
    background-color: none;   
}
.icons a{
    margin: 5px;
}

.button1,.button3{
    font-weight:600;
    width: 25% !important;
    padding: 2%;
}
.button2{
    font-weight:600;
    width: 40% !important;
    padding: 2%;
}
.button4{
    width:25% !important;
    padding:2%;
}


.button1:hover,.button4:hover{
    border:2px solid black;
    background-color: transparent;
    color:black;
    font-weight:600;
}

.button2:hover,.button3:hover{
    border:2px solid white;
    background-color: transparent;
    color:white;
    font-weight: 600;
}

@media (max-width: 992px) {
    .caster,.wireless,.mike,.wirelesspro2,.black,.phoneCage,.mic{
        background-image: none;
    }
    .wireless,.black,.phoneCage,.mic{
        background-color: black;
    }
    .button1,.button2,.button3{
        width:25%;
    }
    .button4{
        width: 60% !important;  
    }
  }

  @media (max-width:460px) {
    .button1,.button3{
        width: 40% !important;
    }
    .button2{
        width:50% !important;
    }
  }    

  @media(max-width:1200px){
    .button4{
        width: 40% !important;
    }
  } 